body {
    font-family: monospace;
    font-size: 24px;
    margin: 0;
    background-color: #000;
    color: #fff;
}

.outputRow {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.outputTag {
    display: inline-block;
    text-align: center;
    height: 12px;
    width: 12px;
    color: #000;
    background-color: #666;
    border-radius: 100%;
    font-size: 10px;
    cursor: default;
    font-weight: 800;
    margin-right: 10px;
}

.outputCopy {
    color: #666;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 3px;
}
.outputCopy:hover {
    color: #fff;
}